{% extends 'core/base.html' %}
{% block content %}
<div class="mt-5">
    <h1 class="text-warning mb-5 border-bottom">Accomplishments</h1>

    # Row 1

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fas fa-laptop-code fa-2x mb-3 i-color"></i>
            <h3>Period Keeper</h3>
            <p class="ss-color">An Automated Period Tracker Application with PCOS Predictor using Cart Algorithm</p>


        </div>
        <div class="col-sm-4">
            <i class="fab fa-python fa-2x mb-3 i-color"></i>
            <h3>Portfolio</h3>
            <p class="ss-color">A Portfolio developed by Python and Django Framework.</p>


        </div>
          <div class="col-sm-4">
            <i class="fas fa-code fa-2x mb-3 i-color"></i>
            <h3>Fitness Port</h3>
            <p class="ss-color">A web site for gym users where they can explore the features and amenities provided by the gym.</p>



        </div>






        </div>


        <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fab fa-python fa-2x mb-3 i-color"></i>
            <h3>Portfolio</h3>
            <p class="ss-color">A Portfolio developed by Python and Django Framework.</p>


        </div>
        <div class="col-sm-4">
            <i class="fas fa-certificate fa-2x mb-3 i-color"></i>
            <h3>Certificate</h3>
            <p class="ss-color">Certified and completed training under Professional Python Specialist by "Coder Technologies"</p>


        </div>
          <div class="col-sm-4">
            <i class="fas fa-search fa-2x mb-3 i-color"></i>
            <h3>Digital Marketing and SEO Optimizer</h3>
            <p class="ss-color">Internship in Digital Marketing and SEO Optimizer provided by "Sahu Technologies".</p>



        </div>






        </div>






        </div>






        </div>



    </div>








{% endblock content %}