{% extends 'core/base.html' %}
{% block content %}

<div class="container mt-3">
    <h1 class="text-warning mb-5 border-bottom">Personal Info</h1>
    <div class="row text-white mb-5">
        <p><b class="text-warning"><i class="fas fa-map-marker-alt fa-2x"></i></b><br/> A/201 Ashoka Apt Chanakya Park <br/> Samelpada Nallasopara (West).</p>
        <p><b class="text-warning"><i class="fas fa-phone fa-2x"></i></br></b> 9561724208 </p>
        <p><b class="text-warning"><i class="fas fa-envelope-square fa-2x"></i></br></b> vaishnavnair787@gmail.com</p>
        <p><b class="text-warning"><i class="fab fa-linkedin fa-2x"></i></b></br>www.linkedin.com/in/vaishnav-nair-703b4a1a8 </p>
        <p><b class="text-warning"><i class="fab fa-github-square fa-2x"></i></b><br/>https://github.com/vaishnav60 </p>
        <h1 class="text-warning mb-5 border-bottom mt-4">Languages</h1>

        <p>Malayalam<br/>English<br/>Hindi<br/>Sanskrit</p>
    </div>
</div>





{% endblock content %}